/* ---------------------- Body ---------------------- */
body {
  font-family: 'Prompt', sans-serif;
  background: linear-gradient(180deg,#edf2f6,#dee7ee);
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --------- MAIN (ดัน footer) --------- */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ------------------ Container -------------------- */
.max-width-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* -------------------- Banner -------------------- */
.banner-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
  margin-bottom: 2rem;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------------ Form Card ------------------- */
.form-card {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* -------------------- Footer --------------------- */
#main-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  color: #6c757d;
  font-size: 0.875rem;

  text-align: center;
  padding: 1rem 0;
}
